.main {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-auto-rows: 1fr;
}

.card {
  background: #abc;
}

.card_size_s {
  grid-column: span 2;
}

.card_size_m {
  grid-column: span 3;
}

.card_size_l {
  grid-column: span 6;
}
