.content {
  margin: 0 20%;
}

.header {
  margin: 43px 0;
}

.main {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 32px;
  grid-auto-flow: dense;
}

.card {
  position: relative;
  font-family: 'YS Text', sans-serif;
}

.card svg {
  width: 16px;
  height: 16px;
}

.card__title {
  font-weight: bold;
  font-size: 19px;
  line-height: 23px;
}

.card__description {
  font-size: 14px;
  line-height: 20px;
}

.card__channel {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

/* Size S */
.card_size_s {
  grid-column: span 2;
}

.card_size_s .card__title-container {
  position: relative;
  max-height: 46px;
}

.card_size_s .card__title {
  background-color: #fff;
}

.card_size_s .card__picture img {
  width: 100%;
}

/* TODO: Как разместить кнопки, чтобы они сдвигались заголовком? */
.card_size_s .card__pane {
  display: none;
}

/* Size S No Image */
.card_no-image .card__title-container {
  max-height: none;
}

.card_no-image .card__pane {
  display: flex;
}

.card_no-image .card__channel {
  margin-right: auto;
}

.card_no-image .card__dots {
  margin-right: 18px;
}

/* Size M */
.card_size_m {
  grid-column: span 3;
}

.card_size_m .card__title-container {
  position: relative;
  max-height: 46px;
}

.card_size_m .card__title {
  background-color: #fff;
}

.card_size_m .card__picture img {
  width: 100%;
}

.card_size_m .card__additional-content {
  display: flex;
}

.card_size_m .card__description {
  max-height: 62px;
  overflow: hidden;
}

.card_size_m .card__pane {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Size L */
.card_size_l {
  grid-column: span 6;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.card_size_l .card__title-container {
  grid-column: 5 / 7;
  grid-row: 1 / 2;
}

.card_size_l .card__title {

}

.card_size_l .card__picture {
  grid-area: 1 / 1 / 4 / 5;
}

.card_size_l .card__picture img {
  width: 100%;
}

.card_size_l .card__additional-content {
  grid-column: 5 / 7;
  grid-row: 2 / 4;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_size_l .card__pane {
  display: flex;
  justify-content: space-between;
}


@media (max-width: 1200px) {
  .card_size_s {
    grid-column: span 3;
  }

  .card_size_m {
    grid-column: span 6;
  }

  .card_size_l {
    display: initial;
  }
}

@media (max-width: 700px) {
  .card_size_s {
    grid-column: span 6;
  }
}
