.main {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 32px;
}

.card {
  position: relative;
  background: #abc;
}

.card__title {
  font: bold 19px/23px 'YS Text', sans-serif;
}

.card__description {
  font: 14px/20px 'YS Text', sans-serif;
}

/* Size S */
.card_size_s {
  grid-column: span 2;
}

.card_size_s .card__title-container {
  position: relative;
  max-height: 46px;
}

.card_size_s .card__title {
  background-color: #fff;
}

.card_size_s .card__picture img {
  width: 100%;
}

/* Size M */
.card_size_m {
  grid-column: span 3;
}

.card_size_m .card__title-container {
  position: relative;
  max-height: 46px;
}

.card_size_m .card__title {
  background-color: #fff;
}

.card_size_m .card__picture img {
  width: 100%;
}

.card_size_m .card__description {
  max-height: 62px;
  overflow: hidden;
}

/* Size L */
.card_size_l {
  grid-column: span 6;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto auto auto;
}

.card_size_l .card__title-container {
  grid-column: 5 / 7;
  grid-row: 1 / 2;
}

.card_size_l .card__title {

}

.card_size_l .card__picture {
  grid-area: 1 / 1 / 4 / 5;
}

.card_size_l .card__picture img {
  width: 100%;
}

.card_size_l .card__description {
  grid-column: 5 / 7;
}

.card_no-image .card__title-container {
  max-height: none;
}
