html
  head
    meta(charset='utf-8')
    meta(name='robots' content='noindex')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    link(rel='icon' type='image/png' href='/shri-logo.png')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,700i&amp;subset=cyrillic')
    link(rel='stylesheet' href='/style.css')
    title Git View
  body
    .page
      .page__branches
        .page__header
          | Ветки
        .branch_selected
          = currentBranch
        each branch in branches
          .branch
            a(href=branch.href)= branch.name
      .page__commits
        .page__header
          | Коммиты
        each commit in commits
          .commit
            .commit__hash
              a(href=commit.href)= commit.hash
            .commit__message
              = commit.message
      .page__files
        .page__header
          | Файлы
        .file__back
          if (!isTopDirectory)
            a(href=backUrl) назад
        if (hasContent)
          .file__name
            = files[0].name
          .file__content
            = content
        else 
          .file__list
            each file in files
              .file__name
                a(href=file.href)= file.name
