.Card-Title {
  z-index: 1;
}

.Card-TitleText {
  box-sizing: border-box;
  overflow: hidden;
  max-height: calc((1.3vw + 4px) * 1.3 * 3);
  padding-bottom: 8px;
  font-weight: bold;
  font-size: calc(1.3vw + 4px);
  line-height: 1.3;
}
