.Card_size_s {
  grid-column: span 2;
}

.Card_size_s .Card-Title {
  position: relative;
  max-height: 46px;
}

.Card_size_s .Card-TitleText {
  background-color: #fff;
}

.Card_size_s .Card-Image img {
  width: 100%;
}

.Card_size_s .Card-Pane {
  display: none;
}
