@keyframes horizontal-move {
  0% {
    top: 0;
  }
  20% {
    top: 50%;
  }
  40% {
    top: 10%;
  }
  60% {
    top: 90%;
  }
  80% {
    top: 70%;
  }
  100% {
    top: 100%;
  }
}

@keyframes vertical-move {
  0% {
    left: 0;
  }
  20% {
    left: 50%;
  }
  40% {
    left: 10%;
  }
  60% {
    left: 90%;
  }
  80% {
    left: 70%;
  }
  100% {
    left: 100%;
  }
}
