@import 'animations.css';

@font-face {
  font-family: 'PrStart';
  src: url('../fonts/PrStart.ttf');
}

:root {
  --margin: 1.8vmin;
  --font-size: 1.2vmin;
  --line-height: 1.5;
  --elem-height: (var(--margin) + var(--font-size) * var(--line-height));
  --elems-count: 18;
}

body {
  margin: 0;
  padding: 0;
  background: black;
}

canvas {
  width: 100vw;
  height: 100vh;
  display: block;
}

.showtext_animate {
  animation: showtext steps(var(--elems-count), end) 5s infinite;
}

.analyser {
    position: absolute;
    top: 4vmin;
    left: 5vmin;
    width: 20vw;
    height: calc(var(--elem-height) * 2);
    overflow: hidden;
    will-change: height;
  }

  .analyser div {
    margin-top: var(--margin);
    padding: 0;
    font-size: var(--font-size);
    line-height: var(--line-height);
    font-family: 'PrStart';
    color: #fff;
  }

.scanner {
    position: absolute;
    bottom: 5vmin;
    right: 5vmin;
    width: 30vmin;
    height: 24vmin;
  }

  .scanner table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
  }

  .scanner td {
    border: solid 2px #fff;
  }

  .scanner .horizontal-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
    animation: horizontal-move 3s linear infinite;
  }

  .scanner .vertical-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background-color: #fff;
    animation: vertical-move 3s linear infinite;
  }

.sinewave {
  position: absolute;
  bottom: 5vmin;
  left: 4vmin;
  width: 20vw;
  height: 15vh;
  border: solid 2px #fff;
  border-radius: 20px;
}
