.content {
  margin: 0 20%;
}

.header {
  margin: 43px 0;
}

.main {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 32px;
  grid-auto-flow: dense;
}

.card {
  position: relative;
  font-family: 'YS Text', sans-serif;

  svg {
    width: 16px;
    height: 16px;
    fill: rgba(211, 211, 211, 1);
  }

  &__heart svg:hover {
    fill: rgba(211, 0, 0, 0.8);
  }

  &__title-container {
    z-index: 1;
  }

  &__title {
    box-sizing: border-box;
    overflow: hidden;
    max-height: calc((1.3vw + 4px) * 1.3 * 3);
    padding-bottom: 8px;
    font-weight: bold;
    font-size: calc(1.3vw + 4px);
    line-height: 1.3;
  }

  &__picture:hover {
    opacity: .9;
  }

  &__description {
    position: relative;
    height: 100%;
    max-height: 160px;
    overflow: hidden;
    margin-top: 8px;
    font-size: calc(1vw + 3px);
    line-height: 1.45
  }

  &__gradient {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 40px);
  }

  &__channel {
    font-weight: bold;
    font-size: calc(1vw + 3px);
    line-height: 1.2;
  }
}

.card_size_s {
  grid-column: span 2;

  .card {
    &__title-container {
      position: relative;
      max-height: 46px;
    }

    &__title {
      background-color: #fff;
    }

    &__picture img {
      width: 100%;
    }

    &__pane {
      display: none;
    }
  }
}

.card__no-image {
  .card {
    &__title-container {
      overflow: hidden;
      max-height: none;
    }

    &__pane {
      display: flex;
      margin-top: 9px;
    }

    &__channel {
      margin-right: auto;
    }

    &__dots {
      margin-right: 18px;
    }
  }
}

.card_size_m {
  grid-column: span 3;

  .card {
    &__title-container {
      position: relative;
      max-height: 46px;
    }

    &__title {
      background-color: #fff;
    }

    &__picture img {
      width: 100%;
    }

    &__additional-content {
      display: flex;
    }

    &__description {
      max-height: 72px;
      line-height: 1.45;
      overflow: hidden;
    }

    &__pane {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 8px;
      padding-bottom: 5px;
      padding-top: 10px;
    }
  }
}

.card_size_l {
  grid-column: span 6;

  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: repeat(6, 1fr);

  .card {
    &__title-container {
      grid-column: 5 / 7;
      grid-row: 1 / 2;
    }

    &__title {
      margin: 0 16px;
    }

    &__picture {
      grid-area: 1 / 1 / 4 / 5;
    }

    &__picture img {
      width: 100%;
    }

    &__additional-content {
      grid-column: 5 / 7;
      grid-row: 2 / 4;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      margin: 0 16px;
    }

    &__description {
      max-height: 72px;
    }

    &__pane {
      display: flex;
      justify-content: space-between;
    }
  }
}

@media (max-width: 1000px) {
  .content {
    margin: 0 12%;
  }
}

@media (max-width: 900px) {
  .card__title {
    max-height: calc((1.8vw + 2px) * 1.3 * 3);
    overflow: hidden;
    font-size: calc(1.8vw + 2px);
  }

  .card__description {
    font-size: calc(1.5vw + 1px);
  }
}

@media (max-width: 650px) {
  .card svg {
    width: 20px;
    height: 20px;
  }

  .content {
    margin: 0 8%;
  }

  .header {
    margin: 30px 0;
  }

  .card__title {
    max-height: calc((2vw + 7px) * 1.3 * 3);
    font-size: calc(2vw + 7px);
  }

  .card__description {
    font-size: calc(2vw + 3px);
  }

  .card__channel {
    font-size: calc(2vw + 2px);
  }

  .card_size_s {
    grid-column: span 3;
  }

  .card_size_m {
    grid-column: span 6;
  }

  .card_size_l {
    display: initial;
  }

  .card_size_l .card__pane {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 8px;
    padding-bottom: 5px;
    padding-top: 10px;
  }

  .card_size_l .card__title {
    margin: 0;
  }

  .card_size_l .card__additional-content {
    display: flex;
    flex-direction: row;
    margin: 0;
  }
}

@media (max-width: 450px) {
  .content {
    margin: 0 6%;
  }

  .card__title {
    max-height: calc((2vw + 10px) * 1.3 * 3);
    font-size: calc(2vw + 10px);
  }

  .card__description {
    font-size: calc(2vw + 6px);
  }

  .card__channel {
    font-size: calc(2vw + 6px);
  }

  .card_size_s {
    grid-column: span 6;
  }
}
